<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <h1>Autos</h1>
            <div class="container">
                <div class="row">
                    <% autos.forEach(auto=> { %>

                        <div class="col-12 col-md-4 col-lg-3 my-3">
                            <div class="card mx-auto" style="width: 98%;">
                                <img src="/images/<%= auto.img %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= auto.marca %>
                                    </h5>
                                    <p class="card-text">
                                        <%= auto.modelo %>
                                    </p>
                                    <a href="/autos/show/<%= auto.id %> " class="btn btn-primary">Ver Mas</a>
                                </div>
                            </div>
                        </div>


                        <% }) %>
                </div>
            </div>

            <%- include('partials/footer') %>

    </body>

</html>